<header id="main-header">
  <div id="logo"><a href="/products"><img src="/assets/Favcon1.png" alt="">MATT's MAGIC SHOP</a></div>
  <nav>
    <%- include('nav-items') %>
  </nav>
  <button id="mobile-menu-btn">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
<aside id="mobile-menu">
  <nav>
    <%- include('nav-items') %>
  </nav>
</aside>